<a href="https://colab.research.google.com/github/MarceloGilos/alura/blob/main/introducaoClassificacao.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [5]:
#Bilbioteca "pandas" que le a tabela CSV separados por virgula.
import pandas as pd
uri = "https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv"
#lendo o arquivo e carregando em uma variavel.
dados = pd.read_csv(uri)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [6]:
#renomeando coluna para facilitar o código.
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)

In [7]:
#separando a tabela em "features" = x e Nossa "Classe"(comprou ou não) = y
x = dados[["principal","como_funciona","contato"]]
y = dados["comprou"]
#head para imprimir os primeiros dados  do y para verificar se carrego
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [8]:
#Verificando o Formato dos dados para semaparar os dados de treino e teste
#linha / coluna
dados.shape

(99, 4)

In [9]:
#estamos mostrando quais dados serao utilizados :75 - > até o 75 não conta o 75
# 75: -> do 75 em diante.
treino_x = x[:75]
treino_y = y[:75]
teste_x = x[75:]
teste_y = y[75:]

print("treinaremos com %d elementos e testarem com com %d elementos" % (len(treino_x), len(teste_x)))

treinaremos com 75 elementos e testarem com com 24 elementos

In [10]:
#importar bilioteca
from sklearn.svm import LinearSVC
#criar o modelo e treinar ela
model = LinearSVC()
model.fit(treino_x,treino_y)

LinearSVC()

In [11]:
#gerando uma previsão com o dados testes
previsao = model.predict(teste_x)

In [12]:
#importante biblioteca para ver taxa de acerto
from sklearn.metrics import accuracy_score
#comaprando a previsão com os resultados que ja sabiamos
taxa_de_acerto = accuracy_score(teste_y,previsao)
print("A taxa de acerto foi de %.2f" % (taxa_de_acerto*100))

A taxa de acerto foi de 95.83

In [13]:
#SEPARAR TREINO E TESTE (BIBLIOTECA)
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20
#separando os dados para treino ou teste de forma automatica e aleatorio
#(nossos parametros,carregar seed para manter um padrão, tamanho do teste)
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos %d elementos" % (len(treino_x), len(teste_x)))

model = LinearSVC()
model.fit(treino_x,treino_y)
previsao = model.predict(teste_x)

taxa_de_acerto = accuracy_score(teste_y,previsao)
print("A taxa de acerto foi de %.2f" % (taxa_de_acerto*100))

Treinaremos com 74 elementos e testaremos 25 elementos
A taxa de acerto foi de 96.00

In [14]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [15]:
teste_y.value_counts()

0    19
1     6
Name: comprou, dtype: int64

In [19]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20
#para separar pais equilibrado usar o stratify
treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, 
                                                        random_state = SEED,
                                                        test_size = 0.25,
                                                        stratify = y)
print("Treinaremos com %d elementos e testaremos %d elementos" % (len(treino_x), len(teste_x)))

model = LinearSVC()
model.fit(treino_x,treino_y)
previsao = model.predict(teste_x)

taxa_de_acerto = accuracy_score(teste_y,previsao)
print("A taxa de acerto foi de %.2f" % (taxa_de_acerto*100))

Treinaremos com 74 elementos e testaremos 25 elementos
A taxa de acerto foi de 96.00

In [17]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [18]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64